*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 60px;
}






@media only screen and (min-width: 992px) {

	#map-container {
	  	height: 100vh;
	  	z-index: 90;
	}

	.computer.only {
		display: block !important;
	}

	.tablet.only {
		display: block !important;
	}

	.mobile.only {
		display: none !important;
	}

	#importShape-container { 
		height: 738px;
		overflow-y: scroll;
	}

}
@media only screen and (min-width: 992px) and (orientation: landscape) {
	
	#map-container {
	  	/*height: 100vh;*/
	  	z-index: 90;

	}


	.computer.only {
		display: block !important;
	}

	.tablet.only {
		display: block !important;
	}

	.mobile.only {
		display: none !important;
	}

	#importShape-container { 
		height: 100vh;
		overflow-y: scroll;
	}


}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#map-container {
	  	height: 490px;
	  	z-index: 90;
	}

	.computer.only {
		display: none !important;
	}

	.tablet.only {
		display: block !important;
	}

	.mobile.only {
		display: none !important;
	}
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {

	#map-container {
	  	height: 450px;
	  	z-index: 90;
	}

	.computer.only {
		display: none !important;
	}

	.tablet.only {
		display: none !important;
	}

	.mobile.only {
		display: block !important;
	}

	.tle-update {
		font-size:  0.875em;
	}
}
.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}
